.bgContainer {
  height: 100vh;
  background: linear-gradient(
    180deg,
    var(--bg-gradient-first) 0%,
    var(--bg-gradient-second) 100%
  );
  display: flex;
}

.faqContainer {
  margin: 148px auto;
  padding: 24px;
  width: 327px;
  height: 535px;
  border-radius: 23px;
  background-color: var(--bg-faq);
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  background-image: url(../../public/images/bg-pattern-mobile.svg);
  background-size: 240px;
  background-position: 45px 5px;
  background-repeat: no-repeat;
  position: relative;
}

.imgWoman {
  content: url('/public/images/illustration-woman-online-mobile.svg');
  position: absolute;
  width: 236.85px;
  top: -105px;
  left: 45px;
}

.imgBox {
  display: none;
  position: relative;
  left: -115px;
  top: 38%;
}

.tabsContainer {
  margin-top: 120px;
}

.tabsContainer h2 {
  text-align: center;
  padding-bottom: 22px;
}

@media (min-width: 1200px) {
  .faqContainer {
    width: 920px;
    height: 509px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../../public/images/bg-pattern-desktop.svg);
    background-size: 100%;
    background-position: -530px -270px;
    /* overflow: hidden; */
  }

  .imgWoman {
    content: url('/public/images/illustration-woman-online-desktop.svg');
    width: 471.69px;
    top: 70px;
    left: -72px;
  }

  .imgBox {
    display: block;
  }
  .tabsContainer {
    margin: 51px 71px 0 0;
  }

  .tabsContainer h2 {
    text-align: left;
  }
}
