.tabContainer img {
  width: 8px;
}

.tabContainer img.active {
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.tab {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-bottom: 1px solid var(--border-tabs);
  width: 279px;
  height: 52px;
  cursor: pointer;
}
.tab:hover {
  color: var(--text-question-hover);
}

.tab.active {
  font-weight: 700;
  color: var(--text-question-active);
}

.tabContent {
  display: none;
  max-width: 300px;
}

.tabContent.active {
  display: block;
}

.arrow {
  margin-right: 12px;
}

@media (min-width: 1200px) {
  .tab {
    width: 350px;
  }
}
