@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --text-question-active: #1e1f36;
  --text-question-hover: #f47b56;
  --text-question: #4b4c5f;
  --text-response: #787887;
  --bg-gradient-first: #b068e9;
  --bg-gradient-second: #6463e7;
  --bg-faq: #ffffff;
  --border-tabs: #e8e8ea;

  /* Sizes*/
  --fs: 12px;
  --fw-regular: 400;
  --fw-bold: 700;

  /* family */
  --ff: 'Kumbh Sans', sans-serif;
}
